<div class="container">

    <div class="jumbotron">

        <h1> This is where I will test the calendar views </h1>

        <br>
        <br>
        <br>
        <br>
        <%= week_calendar( number_of_weeks: 3) do |date| %>
            <%= date.day %>
        <% end %>

    </div>


</div>
    